
<div class="text">


  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary py-3" [containerInside]="false">
  
    
    <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="./assets/images/Home/HealthAssistLogo.png" width="35"
      height="35" alt="">&nbsp;&nbsp; Health Assist</a></mdb-navbar-brand>
  
    
    <links>
  
      
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['../aboutus']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['']">Contact Us</a>
        </li> -->
  
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a  class="nav-link waves-light" mdbWavesEffect [routerLink]="['../login']" routerLinkActive="router-link-active">Sign in</a>
          
        </li>
          &nbsp;
        <li class="nav-item active">
          <a  class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['../signup']" routerLinkActive="router-link-active">Sign up</a>
          <!-- <a *ngIf="isLoggedIn"class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['']" routerLinkActive="router-link-active" (click)="logout()">Logout</a> -->
          
        </li>
      </ul>
  
    </links>
  
  
  </mdb-navbar>
  
  
  
  </div>
  
  


<div class="container">

<form class="text-center border border-light p-5" style="margin-top: 5%;" [formGroup]="signinForm" (ngSubmit)="submit()">

  <p class="h4 mb-4"><b>Sign in</b></p>


  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" formControlName="email">


  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password">

  <div class="d-flex justify-content-around">
    <div>
     
   
    </div>
    <div>
     
      <a href="/forgotpassword">Forgot password?</a>
    </div>
  </div>

 
 <button mdbBtn color="primary" block="true" class="my-4" type="submit">Sign in</button>


  <p>Not a member?
    <a href="./signup">Register</a>
  </p>

</form>

</div>
<br><br>



<footer class="page-footer font-small bg-primary pt-4" >

 
  <div class="container text-center text-md-left">


    <div class="row">

      
      <div class="col-md-4 mx-auto">

 
        
        <h5 class="text-uppercase font-weight-bold"><img src="./assets/images/Home/HealthAssistLogo.png" width="40" height="40" alt="" > &nbsp; Health Assist</h5>
    
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; border-top:2px solid #fff;">
        <p>HealthAssist will help to search different categories of doctors on one click.It provides good rating doctors, pathologies and pharmacy
details.</p>

      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none"> -->

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
    

      </div>
      <div class="col-md-2 mx-auto">

      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-top: 15px;">

        <h6 class="text-uppercase font-weight-bold">Contact us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; border-top:2px solid #fff;">
        <p style="font-size: medium;">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>&nbsp;&nbsp;&nbsp; Ahmedabad, Gujarat, India
        </p>
        <p style="font-size: medium;">
          <mdb-icon fas icon="envelope"></mdb-icon>&nbsp;&nbsp;&nbsp; healthassist21@gmail.com
        </p>
     

      </div>
  

    </div>
  

  </div>
 

 
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="http://healthassist.live/"> HealthAssist.live</a>
  </div>
 

</footer>


