

<!-- <div class="header">
  <div class="row">
  <h2>Health Assist</h2>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect ><h3>Make Appointment</h3></a>
    </li>
  </ul>
</div>
</div> -->

<div class="text">
<mdb-navbar SideClass="navbar navbar-expand-lg  navbar-dark " [containerInside]="false">
  
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/images/Home/HealthAssistLogo.png"  alt="" class="img1"/></a></mdb-navbar-brand>
  
  <links>

    <ul class="navbar-nav mr-auto">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['']"><h4>Home</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['../aboutus']"><h4>About Us</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['']"><h4>Contact Us</h4></a>
      </li>
       
    </ul>

 
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a *ngIf="!isLoggedIn" class="nav-link waves-light" mdbWavesEffect [routerLink]="['../login']" routerLinkActive="router-link-active"><h4>Sign in</h4></a>
        
      </li>
        &nbsp;
      <h4><li class="nav-item active">
        <a *ngIf="!isLoggedIn" class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['../signup']" routerLinkActive="router-link-active">Sign up</a>
        <a *ngIf="isLoggedIn"class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['']" routerLinkActive="router-link-active" (click)="logout()">Logout</a>
        
      </li></h4>
    </ul>

  </links>

</mdb-navbar>
</div>



