
<footer class="page-footer font-small bg-primary pt-4" >

    
    <div class="container text-center text-md-left">


      <div class="row">

  
        <div class="col-md-4 mx-auto">

       
          <h5 class="text-uppercase font-weight-bold"><img src="./assets/images/Home/HealthAssistLogo.png" width="40" height="40" alt="" > &nbsp; Health Assist</h5>
    
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; border-top:2px solid #fff;">
          <p>HealthAssist will help to search different categories of doctors on one click.It provides good rating doctors, pathologies and pharmacy
details.</p>

        </div>
       
        <div class="col-md-2 mx-auto">


      

        </div>
   
        <div class="col-md-2 mx-auto">

         

        </div>
      
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-top: 15px;">

  
          <h6 class="text-uppercase font-weight-bold">Contact us</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; border-top:2px solid #fff;">
          <p style="font-size: medium;">
            <mdb-icon fas icon="map-marker-alt"></mdb-icon>&nbsp;&nbsp;&nbsp; Ahmedabad, Gujarat, India
          </p>
          <p style="font-size: medium;">
            <mdb-icon fas icon="envelope"></mdb-icon>&nbsp;&nbsp;&nbsp; healthassist21@gmail.com
          </p>
  

        </div>
  

      </div>


    </div>
 

    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item active">
        <a href="./signup" mdbBtn color="primary" rounded="true" mdbWavesEffect>Sign up!</a>
      </li>
    </ul>

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="http://healthassist.live/"> HealthAssist.live</a>
    </div>


  </footer>

