<div class="header">
    <div class="header-left">

        <a href="index-2.html" class="logo">
            <img src="assets/img/logo.png" width="35" height="35" alt=""><span>Health Assist</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

    <ul class="nav user-menu float-right">

        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>&nbsp;
                <span>{{userdataservice.user.firstname}}</span>
            </a>&nbsp;
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/profile']">My Profile</a>
                <a class="dropdown-item" [routerLink]="['/editprofile']">Edit Profile</a>
                <a class="dropdown-item" href="./" (click)="logout()">Logout</a>
            </div>
        </li>
    </ul>
</div>

<div class="sidebar" id="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 1306px;">
        <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 1306px;">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>
                    <li>
                        <a [routerLink]="['/doctorDashboard']">
                            <mdb-icon fas icon="tachometer-alt"></mdb-icon> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/appointment']">
                            <mdb-icon fas icon="user-md"></mdb-icon> <span>Appointment</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="slimScrollBar"
            style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 1315.8px;">
        </div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <!-- <h4 class="page-title">My Profile</h4> -->
            </div>

        </div>
        <div class="card-box profile-header">
            <h4 class="page-title"><b>Patient Information</b></h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="assets/img/doctor-03.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">Patient Name</h3>
                                        <!-- <small class="text-muted">Gynecologist</small> -->
                                        <div class="staff-id">Email ID : patient12@gmail.com</div>
                                        <div class="staff-msg"><a href="chat.html">
                                                </a></div><br><br>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="#">770-889-6484</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Age:</span>
                                            <span class="text">18</span>
                                        </li>
                                        <li>
                                            <span class="title">City:</span>
                                            <span class="text">Ahmedabad</span>
                                        </li>
                                        <li>
                                            <span class="title">Gender:</span>
                                            <span class="text">Male</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">


            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h4 class="page-title"><b>Appointment Information</b></h4>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="profile-info-left">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Create Date:</span>
                                                    <span class="text"><a href="#">30/09/2021</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Appointment Date:</span>
                                                    <span class="text">30/09/2021</span>
                                                </li>
                                                <li>
                                                    <span class="title">Appointment Timing:</span>
                                                    <span class="text">2:00 to 3:00</span>
                                                </li>
                                                <li>
                                                    <span class="title">Clinic Name:</span>
                                                    <span class="text">Mahavir CLinic</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="personal-info">
                                            <li>
                                                <span class="title">Reference:</span>
                                                <span class="text">Dr. Mayank Shah</span>
                                            </li>
                                            <li>
                                                <span class="title">Complain:</span>
                                                <span class="text">Fever</span>
                                            </li>
                                            <li>
                                                <span class="title">Comment:</span>
                                                <span class="text">As Soon As Possible</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="card-box mb-0">
                                <h4 class="page-title"><b>Past Appointment List</b></h4>
                                <div class="experience-box">
                                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Patient</th>
                                                <th>AppCreateDate</th>
                                                <th>Comment</th>
                                                <th>Clinic</th>
                                                <th>Refrence</th>
                                                <th>AppointmentDate</th>
                                                <th>AppointmentTime</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr *ngFor="let a of listAppointment">
                                                <th scope="row">{{a.appointmentid}}</th>
                                                <td>{{a.patientname}}</td>
                                                <td>{{a.appcreatedate | date:'mediumDate'}}</td>
                                                <td>{{a.comment}}</td>
                                                <td>{{a.clinicname}}</td>
                                                <td>{{a.reference}}</td>
                                                <td>{{a.appointmentdate | date:'mediumDate'}}</td>
                                                <td>{{a.appointmenttime}}</td>
                                                <td class="text-right">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" styleClass="p-mr-2"  data-toggle="modal" (click)="accept(a.appointmentid)"><mdb-icon fas icon="check"></mdb-icon> &nbsp; Accept</a>
                                                            <a class="dropdown-item" styleClass="p-mr-2"  data-toggle="modal" (click)="reject(a.appointmentid)"><mdb-icon fas icon="times"></mdb-icon> &nbsp; Reject</a>
                                                            <a class="dropdown-item" styleClass="p-mr-2"   [routerLink]="['/prescription']"><mdb-icon fas icon="arrow-alt-circle-right"></mdb-icon> &nbsp; Proceed</a>
                                                            <a class="dropdown-item" styleClass="p-mr-2"  data-toggle="modal"><mdb-icon fas icon="sync"></mdb-icon> &nbsp; Reschedule</a>
                                                            
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>