<div class="header">
    <div class="header-left">

        <a href="index-2.html" class="logo">
            <img src="assets/img/logo.png" width="35" height="35" alt=""><span>Health Assist</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

    <ul class="nav user-menu float-right">

        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>&nbsp;
                <span>{{userdataservice.user.firstname}}</span>
            </a>&nbsp;
            <div class="dropdown-menu">
                <!-- <a class="dropdown-item" [routerLink]="['/profile']">My Profile</a>
                <a class="dropdown-item" [routerLink]="['/editprofile']">Edit Profile</a> -->
                <a class="dropdown-item" href="./" (click)="logout()">Logout</a>
            </div>
        </li>
    </ul>
</div>

<div class="sidebar" id="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 1306px;">
        <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 1306px;">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <br>
                    <li>
                        <a [routerLink]="['/dashboard']">
                            <mdb-icon fas icon="tachometer-alt"></mdb-icon> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/doctor']">
                            <mdb-icon fas icon="user-md"></mdb-icon> <span>Doctors</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/patient']">
                            <mdb-icon fas icon="wheelchair"></mdb-icon> <span>Patients</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/pharmacy']">
                            <mdb-icon fas icon="clinic-medical"></mdb-icon> <span>Pharmacy</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/pathology']">
                            <mdb-icon fas icon="mortar-pestle"></mdb-icon> <span>Pathology</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/diet']">
                            <mdb-icon fas icon="utensils"></mdb-icon> <span>Diet</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/clinic']">
                            <mdb-icon fas icon="hospital"></mdb-icon> <span>Clinic</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/users']">
                            <mdb-icon fas icon="user-alt"></mdb-icon> <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/medicine']">
                            <mdb-icon fas icon="pills"></mdb-icon> <span>Medicine</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/disease']">
                            <mdb-icon fas icon="splotch"></mdb-icon> <span>Disease</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/city']">
                            <mdb-icon fas icon="city"></mdb-icon> <span>City</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/state']">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon> <span>State</span>
                        </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/adminappointment']">
                            <mdb-icon far icon="calendar-check"></mdb-icon> <span>Appointment</span>
                        </a>
                    </li>




                </ul>
            </div>
        </div>
        <div class="slimScrollBar"
            style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 1315.8px;">
        </div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
        </div>
    </div>
</div>

<div class="page-wrapper" style="min-height: 754px;">
    <div class="content">
        <a pButton icon="pi pi-plus" label="Export" style="float: left;color: #fff;" id="btnExport"
            value="Export"></a><br><br><br>
        <table id="tblCustomers" *ngIf="listAllAppointment" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>

                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Clinic</th>
                    <th>AppDate</th>
                    <th>AppTime</th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of listAllAppointment">
                    <td>{{a.patientname}}</td>
                    <td>{{a.firstname}}&nbsp;{{a.lastname}}</td>
                    <td>{{a.clinicname}}</td>
                    <td>{{a.appointmentdate | date:'mediumDate'}}</td>
                    <td>{{a.appointmenttime}}</td>
                    <td *ngIf="a.statusid">
                        <span
                            class="{{service.appointmentStatus[a.statusid]}}">{{service.appointmentStatus[a.statusid]}}</span>
                    </td>
                    <td *ngIf="a.statusid==4">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Waiting...
                    </td>

                    <td *ngIf="a.statusid==6">
                        &nbsp;&nbsp;&nbsp;&nbsp;Successful...
                    </td>

                    <td *ngIf="a.statusid==2">
                        &nbsp;{{a.statusreason}}
                    </td>


                </tr>
            </tbody>
        </table>

    </div>
</div>