<div class="text">


  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary py-3" [containerInside]="false">


    <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="./assets/images/Home/HealthAssistLogo.png" width="35"
          height="35" alt="">&nbsp;&nbsp; Health Assist</a></mdb-navbar-brand>




    <links>
      <ul class="navbar-nav mr-auto">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li *ngIf="isLog" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Doctors<mdb-icon fas icon="caret-down"></mdb-icon></a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" [routerLink]="['/patientdoctors']">Doctors</a></li>

            <li><a class="dropdown-item" [routerLink]="['/patientappointment']">Appoinment</a></li>
          </ul>
        </li>
        <li *ngIf="isLog" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/patientpharmacy']">Pharmacy</a>
        </li>
        <li *ngIf="isLog" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/patientpathology']">Pathology</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a *ngIf="!isLog" class="nav-link waves-light" mdbWavesEffect [routerLink]="['../login']"
            routerLinkActive="router-link-active">Sign in</a>

        </li>
        &nbsp;
        <li class="nav-item active">

          <a *ngIf="!isLog" class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['../signup']"
            routerLinkActive="router-link-active">Sign up</a>
          <!-- <a  *ngIf="isLog" class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['']" routerLinkActive="router-link-active" (click)="logout()">Logout</a> -->
          <ul *ngIf="isLog" class="nav user-menu float-right" style="margin-left: -40px;">

            <li class="nav-item dropdown has-arrow">
              <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                  <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                  <span class="status online"></span>
                </span> &nbsp;
                <span>{{userdataservice.user.firstname}}<mdb-icon fas icon="caret-down"></mdb-icon></span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/patientprofile']">
                  <mdb-icon fas icon="user-alt"></mdb-icon>&nbsp;My Profile
                </a>
                <a class="dropdown-item" [routerLink]="['/viewappointment']">
                  <mdb-icon fas icon="eye"></mdb-icon>&nbsp;Appointment
                </a>
                <!-- <a class="dropdown-item" href="settings.html">Settings</a> -->
                <a class="dropdown-item" href="./" (click)="logout()">
                  <mdb-icon fas icon="power-off"></mdb-icon>&nbsp;Logout
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>

    </links>




  </mdb-navbar>



</div>

<div class="tab-content">
  <div class="tab-pane show active" id="about-cont">

    <form [formGroup]="RescheduleForm" (ngSubmit)="RescheduleSubmit()">
      <div id="myRescheduleForm" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Reschedule Form</b></h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label>Appointment Date</label>
                <input class="form-control" type="date" formControlName="appointmentdate">
              </div>

              <div class="form-group">
                <label>Appointment Time</label>
                <!-- <input class="form-control" type="time" formControlName="appointmenttime"> -->
                <select class="browser-default custom-select mb-4" formControlName="appointmenttime">
                  <option value="" selected>Appointment Time</option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.monday}}">Monday => {{dc.monday}}</option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.tuesday}}">Tuesday => {{dc.tuesday}}
                  </option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.wednesday}}">Wednesday => {{dc.wednesday}}
                  </option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.thrusday}}">Thrusday => {{dc.thrusday}}
                  </option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.friday}}">Friday => {{dc.friday}}</option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.saturday}}">Saturday => {{dc.saturday}}
                  </option>
                  <option *ngFor="let dc of listDoctClinicTiming" value="{{dc.sunday}}">Sunday => {{dc.sunday}}</option>
                </select>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal"
                data-target="#myRescheduleForm">Close</button>
              <button type="submit" value="submit" class="btn btn-primary" data-toggle="modal"
                data-target="#myRescheduleForm">Save</button>
            </div>
          </div>

        </div>
      </div>
    </form>


  </div>






</div>

<div class="container">
  <!-- <p-button icon="pi pi-file-pdf" class="p-button-warning p-mr-2" id="btnExport" value="Export" pTooltip="PDF"
    tooltipPosition="bottom"></p-button> -->
  <a pButton icon="pi pi-plus" label="Export" style="float: right;color: #fff;" id="btnExport" value="Export"></a>

  <br><br><br>
  <table id="tblCustomers" datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Patient</th>
        <th>Doctor</th>
        <th>Clinic</th>
        <th>AppointmentDate</th>
        <th>AppointmentTime</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of listAppointment">
        <td>{{a.patientname}}</td>
        <td>{{a.firstname}}&nbsp;{{a.lastname}}</td>
        <td>{{a.clinicname}}</td>
        <td>{{a.appointmentdate | date:'mediumDate'}}</td>
        <td>{{a.appointmenttime}}</td>
        <td *ngIf="a.statusid">
          <span
            class="{{viewAppointmentService.appointmentStatus[a.statusid]}}">{{viewAppointmentService.appointmentStatus[a.statusid]}}</span>
        </td>
        <td *ngIf="a.statusid==4">
          
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please Wait...
        </td>
        <td *ngIf="a.statusid==1">
          
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please Wait...
        </td>
        <td *ngIf="a.statusid==2">
          
          &nbsp;Take Appoinment
        </td>
        <td class="text-right" *ngIf="a.statusid!=4 && a.statusid!=1">
            <!-- <a class="dropdown-item" [routerLink]="['/viewprescription',a.appointmentid]" styleClass="p-mr-2"
              *ngIf="a.statusid==6">
              <p-button label="Prescription" icon="pi pi-eye"></p-button>
            </a> -->
            <button pButton pRipple class="size" class="dropdown-item" [routerLink]="['/viewprescription',a.appointmentid]" class="p-button-outlined" styleClass="p-button-sm"
            *ngIf="a.statusid==6" label="Prescription" icon="pi pi-eye"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="page-footer font-small bg-primary pt-4">


  <div class="container text-center text-md-left">


    <div class="row">


      <div class="col-md-4 mx-auto">



        <h5 class="text-uppercase font-weight-bold"><img src="./assets/images/Home/HealthAssistLogo.png" width="40"
            height="40" alt=""> &nbsp; Health Assist</h5>

        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; border-top:2px solid #fff;">
        <p>HealthAssist will help to search different categories of doctors on one click.It provides good rating
          doctors, pathologies and pharmacy
          details.</p>

      </div>

      <div class="col-md-2 mx-auto">




      </div>

      <div class="col-md-2 mx-auto">



      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-top: 15px;">


        <h6 class="text-uppercase font-weight-bold">Contact us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; border-top:2px solid #fff;">
        <p style="font-size: medium;">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>&nbsp;&nbsp;&nbsp; Ahmedabad, Gujarat, India
        </p>
        <p style="font-size: medium;">
          <mdb-icon fas icon="envelope"></mdb-icon>&nbsp;&nbsp;&nbsp; healthassist21@gmail.com
        </p>


      </div>


    </div>


  </div>


  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="http://healthassist.live/"> HealthAssist.live</a>
  </div>


</footer>