<div class="header">
    <div class="header-left">
        <a href="index-2.html" class="logo">
            <img src="assets/img/logo.png" width="35" height="35" alt=""> <span>Health Assist</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">

        <li class="nav-item dropdown has-arrow">
            <a href="#">
                <span class="user-img">
                    <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>
                <span>{{userdataservice.user.firstname}}</span>
            </a>
        </li>
    </ul>
</div>

<div class="sidebar" id="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 1306px;">
        <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 1306px;">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>
                    <li>
                        <a [routerLink]="['/dashboard']">
                            <mdb-icon fas icon="tachometer-alt"></mdb-icon> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/doctor']">
                            <mdb-icon fas icon="user-md"></mdb-icon> <span>Doctors</span>
                        </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/patient']">
                            <mdb-icon fas icon="wheelchair"></mdb-icon> <span>Patients</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/pharmacy']">
                            <mdb-icon fas icon="clinic-medical"></mdb-icon> <span>Pharmacy</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/pathology']">
                            <mdb-icon fas icon="mortar-pestle"></mdb-icon> <span>Pathology</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/diet']">
                            <mdb-icon fas icon="utensils"></mdb-icon> <span>Diet</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/clinic']"><mdb-icon fas icon="hospital"></mdb-icon> <span>Clinic</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/users']"><mdb-icon fas icon="user-alt"></mdb-icon> <span>Users</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/medicine']"><mdb-icon fas icon="pills"></mdb-icon> <span>Medicine</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/disease']"><mdb-icon fas icon="splotch"></mdb-icon> <span>Disease</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/city']"><mdb-icon fas icon="city"></mdb-icon> <span>City</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/state']"><mdb-icon fas icon="map-marked-alt"></mdb-icon> <span>State</span></a>
                    </li>
                    <li>
                        <a href="./" (click)="logout()"><mdb-icon fas icon="power-off"></mdb-icon> <span>Logout</span></a>
                    </li>



                </ul>
            </div>
        </div>
        <div class="slimScrollBar"
            style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 1315.8px;">
        </div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
        </div>
    </div>
</div>

<div class="page-wrapper" style="min-height: 430px;">
    <div class="content">

        <div class="row">
            <div class="col-sm-4 col-3">
                <p class="page-title" style="font-weight: bold;font-size: 20px;">Patient</p>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a [routerLink]="['../addpatient']" class="btn btn-primary btn-rounded float-right"><i
                        class="fa fa-plus"></i> Add Patient</a>
            </div>
        </div>

        <br>
        <p-progressBar  [value]="value1" mode="indeterminate" *ngIf="value1!=100" [style]="{'height': '5px'}" ></p-progressBar><br>
        <a pButton icon="pi pi-plus" label="Export" style="float: left;color: #fff;"
        id="btnExport" value="Export"></a><br><br><br>
        <table id="tblCustomers" *ngIf="patientlist" [dtOptions]="dtOptions" datatable class="row-border hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UserId</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Pincode</th>
                 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of patientlist">
                    <th scope="row">{{p.patientid}}</th>
                    <td>{{p.userId}}</td>
                    <td>{{p.patientname}}</td>
                    <td>{{p.gender}}</td>
                    <td>{{p.phoneno}}</td>
                    <td>{{p.email}}</td>
                    <td>{{p.age}}</td>
                    <td>{{p.cityname}}</td>
                    <td>{{p.pincode}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <p-progressSpinner></p-progressSpinner> -->
        <!-- <p-progressSpinner 
        [value]="value1" 
        *ngIf="value1!=100" 
        [style]="{width: '50px', height: '50px'}" 
        styleClass="custom-spinner" 
        strokeWidth="8"  
        animationDuration=".5s"
        
        ></p-progressSpinner> -->


        
    </div>
</div>