<app-header></app-header>


<div class="container">
    <h1 style="color: #107eed; text-align: center; padding-top: 20px;">Our Story</h1>
    <hr style="width:10%; border-top:2px solid #107eed; border-bottom:none; text-align: center;">

    <div class="mission">
        <div class="left">
            <img src="/assets/images/Home/doctor_care_0.jpg">
        </div>
        <div class="right" style="text-align: justify;">
            <p>We as a part of Health Assist, Assist patients to access good health care options near them wherever they
                are. We are a group of 3 students who are trying to provide good and valuable assistance to all patients
                as we believe in “ आरोग्य अस्ति सर्व ” which means Health is Everything. We provide almost all types of
                assistance that any patient needs at just few clicks. We also help Doctors, Chemists and pathologies to
                reach more people and grow their business.</p>



        </div>
        <div class="clear"></div>

    </div>
    <!-- <div class="about">
   
        <div class="left">
            <p>We as a part of Health Assist, Assist patients to access good health care options near them wherever they
                are. We are a group of 3 students who are trying to provide good and valuable assistance to all patients
                as we believe in “ आरोग्य अस्ति सर्व ” which means Health is Everything. We provide almost all types of
                assistance that any patient needs at just few clicks. We also help Doctors, Chemists and pathologies to
                reach more people and grow their business.</p>

        </div>
        <div class="right">
            <img src="/assets/images/Home/doctor_care_0.jpg">
        </div>
        <div class="clear"></div>
    </div> -->

    <h1 style="color: #107eed; text-align: center; padding-top: 20px;">Our Mission</h1>
    <hr style="width:10%; text-align: center; border-top:2px solid #107eed; border-bottom:none;">
    
    <div class="mission">
        <div class="left">
            <img src="/assets/images/Doctor/Doctor-Treating-Patient.jpg">
        </div>
        <div class="right" style="text-align: justify;">
            <p>Our Mission is to assist people from every edge of the world and provide the best quality Assistance to
                improve and take care of their health in the best possible ways we can. One of our mission in the future
                is we would like to provide transport service to patients for smooth and secure transit.</p>



        </div>
        <div class="clear"></div>

    </div>

    <!-- <h1 style="color: #107eed; text-align: center; padding-top: 20px;">Our Vision</h1>
    <hr style="width:20%; border-top:2px solid #000; border-bottom:none;"> -->

    <!-- <div class="mission">
        <div class="left">
            <img src="/assets/images/Home/doctor_care_0.jpg">
        </div>
        <div class="right" style="text-align: justify;">
            <p>We as a part of Health Assist, Assist patients to access good health care options near them wherever they
                are. We are a group of 3 students who are trying to provide good and valuable assistance to all patients
                as we believe in “ आरोग्य अस्ति सर्व ” which means Health is Everything. We provide almost all types of
                assistance that any patient needs at just few clicks. We also help Doctors, Chemists and pathologies to
                reach more people and grow their business.</p>



        </div>
        <div class="clear"></div>

    </div> -->


    <!-- Section: Testimonials v.2 -->
 <!-- <section class="text-center my-5">
    
    <h2 class="h1-responsive font-weight-bold my-5">Feedback</h2>
 
    <mdb-carousel [isControls]="false" [animation]="'slide'" class="testimonial-carousel">

      <mdb-slide>
        <div class="testimonial">

          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image">
          </div>
         
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
   
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
        </div>
      </mdb-slide>

      <mdb-slide>
        <div class="testimonial">

          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
              alt="Second sample avatar image">
          </div>
        
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit,
            sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
            amet,
            consectetur,
            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.
          </p>
          <h4 class="font-weight-bold">Maria Kate</h4>
          <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
       
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
        </div>
      </mdb-slide>

      <mdb-slide>
        <div class="testimonial">
      
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
              alt="Third sample avatar image" style="width: 100px;height: 100px;">
          </div>
       
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore
            eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque
            laudantium.</p>
          <h4 class="font-weight-bold">John Doe</h4>
          <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
        
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
        </div>
      </mdb-slide>
      
    </mdb-carousel>
   
  </section>  -->



</div>

<app-footer></app-footer>