<div class="text">


    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary py-3" [containerInside]="false">


        <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="./assets/images/Home/HealthAssistLogo.png"
                    width="35" height="35" alt="">&nbsp;&nbsp; Health Assist</a></mdb-navbar-brand>




        <links>
            <ul class="navbar-nav mr-auto">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li *ngIf="isLog" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Doctors<mdb-icon fas icon="caret-down"></mdb-icon></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" [routerLink]="['/patientdoctors']">Doctors</a></li>

                        <li><a class="dropdown-item" [routerLink]="['/patientappointment']">Appoinment</a></li>
                    </ul>
                </li>
                <li *ngIf="isLog" class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/patientpharmacy']">Pharmacy</a>
                </li>
                <li *ngIf="isLog" class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/patientpathology']">Pathology</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a *ngIf="!isLog" class="nav-link waves-light" mdbWavesEffect [routerLink]="['../login']"
                        routerLinkActive="router-link-active">Sign in</a>

                </li>
                &nbsp;
                <li class="nav-item active">

                    <a *ngIf="!isLog" class="nav-link waves-light" outline="true" mdbWavesEffect
                        [routerLink]="['../signup']" routerLinkActive="router-link-active">Sign up</a>
                    <!-- <a  *ngIf="isLog" class="nav-link waves-light" outline="true" mdbWavesEffect [routerLink]="['']" routerLinkActive="router-link-active" (click)="logout()">Logout</a> -->
                    <ul *ngIf="isLog" class="nav user-menu float-right" style="margin-left: -40px;">

                        <li class="nav-item dropdown has-arrow">
                            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                                <span class="user-img">
                                    <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                                    <span class="status online"></span>
                                </span> &nbsp;
                                <span>{{userdataservice.user.firstname}}<mdb-icon fas icon="caret-down"></mdb-icon>
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="['/patientprofile']">
                                    <mdb-icon fas icon="user-alt"></mdb-icon>&nbsp;My Profile
                                </a>
                                <a class="dropdown-item" href="edit-profile.html">
                                    <mdb-icon fas icon="user-edit"></mdb-icon>&nbsp;Edit Profile
                                </a>
                                <a class="dropdown-item" [routerLink]="['/viewappointment']">
                                    <mdb-icon fas icon="eye"></mdb-icon>&nbsp;Appointment
                                </a>
                                <!-- <a class="dropdown-item" href="settings.html">Settings</a> -->
                                <a class="dropdown-item" href="./" (click)="logout()">
                                    <mdb-icon fas icon="power-off"></mdb-icon>&nbsp;Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </links>




    </mdb-navbar>



</div>
<br>
<div class="container">

    <a pButton icon="pi pi-plus" label="Export" style="float: right;color: #fff;" id="btnExport" value="Export"></a>
    <br><br><br>

    <div class="col-md-12" id="tblCustomers">
        <div class="card">
            <div class="card-body">
                <div class="row custom-invoice">
                    <div class="col-6 col-sm-6 m-b-20">
                        <img src="assets/img/logo-dark.png" class="inv-logo" alt="">
                        <ul class="list-unstyled">
                            <h5><strong>Health Assist</strong></h5>
                            <!-- <li>3864 Quiet Valley Lane,</li>
                            <li>Sherman Oaks, CA, 91403</li>
                            <li>GST No:</li> -->
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 m-b-20">
                        <div class="invoice-details">
                            <h3 class="text-uppercase">{{patientData.patientname}}</h3>
                            <ul class="list-unstyled">
                                <li>Email: <span>{{patientData.email}}</span></li>
                                <li>PhoneNo: <span>{{patientData.phoneno}}</span></li>
                                <li>Gender: <span>{{patientData.gender}}</span></li>
                                <li>Age: <span>{{patientData.age}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-6 m-b-20">

                        <!-- <h5>Invoice to:</h5> -->
                         <ul class="list-unstyled">
                            <li>
                                <h5><strong>Appointment Details</strong></h5>
                            </li>
                            <li>Create Date: <span>{{patientData.appcreatedate | date:'mediumDate'}}</span></li>
                            <li>Appointment Date: <span>{{patientData.appointmentdate | date:'mediumDate'}}</span></li>
                            <li>Appointment Time: <span>{{patientData.appointmenttime}}</span></li>
                            <li>Clinic Name: <span>{{patientData.clinicname}}</span></li>
                            <li>Reference: <span>{{patientData.reference}}</span></li>
                            <li>Complain: <span>{{patientData.complain}}</span></li>
                        </ul>



                      


                    </div>
                    <div class="col-sm-6 col-lg-6 m-b-20">
                        <div class="invoices-view">
                            <!-- <span class="text-muted">Payment Details:</span> -->
                            <ul class="list-unstyled invoice-payment-details">
                                <li>
                                    <h5><strong>Prescription Details</strong></h5>
                                </li>
                                <li>Prescription Date: <span>{{patientData.prescriptiondate}}</span></li>
                                <li>General Advice: <span>{{patientData.generaladvice}}</span></li>
                                <li>FollowupComment: <span>{{patientData.followupcomment}}</span></li>
                                <li>Description: <span>{{patientData.description}}</span></li>
                               
                            </ul>
                        </div>
                    </div>
                </div><br>
                <h5><strong>Medicine List</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                
                                <th>Medicine Name</th>
                                <th>Frequency</th>
                                <th>Duration</th>
                                <th>Instruction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pm of listPrescriptionMedicine">
                           
                                <td>{{pm.medicinename}}</td>
                                <td>{{pm.frequency}}</td>
                                <td>{{pm.duration}}</td>
                                <td>{{pm.instructions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <h5><strong>Disease List</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Disease Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pd of listPatientDisease">
                                <!-- <th scope="row">{{pd.appointmentdiseaseid}}</th> -->
                                <td>{{pd.diseasename}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>


                <br>
                <h5><strong>Diet List</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Diet Type</th>
                                <th>Age Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let du of listDietUser">
                                <!-- <th scope="row">1</th> -->
                                <td>{{du.diettype}}</td>
                                <td>{{du.agegroup}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>




                <br>
                <h5><strong>Past Appointment List</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Patient</th>
                                <th>AppCreateDate</th>
                                <th>Comment</th>
                                <th>Clinic</th>
                                <th>Refrence</th>
                                <th>AppointmentDate</th>
                                <th>AppointmentTime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- <td>1</td> -->
                                <td>Dev</td>
                                <td>23-03-2021</td>
                                <td>Fever</td>
                                <td>ABC CLinic</td>
                                <td>XYZ</td>
                                <td>25-03-2021</td>
                                <td>3:00pm to 4:00pm</td>
                            </tr>
                            <tr>
                                <!-- <td>2</td> -->
                                <td>Dev</td>
                                <td>23-03-2021</td>
                                <td>Fever</td>
                                <td>ABC CLinic</td>
                                <td>XYZ</td>
                                <td>25-03-2021</td>
                                <td>3:00pm to 4:00pm</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>






                <div>
                    <!-- <div class="row invoice-payment">
                        <div class="col-sm-7">
                        </div>
                        <div class="col-sm-5">
                            <div class="m-b-20">
                                <h6>Total due</h6>
                                <div class="table-responsive no-border">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <th>Subtotal:</th>
                                                <td class="text-right">$262</td>
                                            </tr>
                                            <tr>
                                                <th>Tax: <span class="text-regular">(10%)</span></th>
                                                <td class="text-right">$26.2</td>
                                            </tr>
                                            <tr>
                                                <th>Total:</th>
                                                <td class="text-right text-primary">
                                                    <h5>$288.2</h5>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-info">
                        <h5>Other information</h5>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed
                            dictum ligula, cursus blandit risus. Maecenas eget metus non tellus dignissim aliquam ut a
                            ex. Maecenas sed vehicula dui, ac suscipit lacus. Sed finibus leo vitae lorem interdum, eu
                            scelerisque tellus fermentum. Curabitur sit amet lacinia lorem. Nullam finibus pellentesque
                            libero, eu finibus sapien interdum vel</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="page-footer font-small bg-primary pt-4">


    <div class="container text-center text-md-left">


        <div class="row">


            <div class="col-md-4 mx-auto">



                <h5 class="text-uppercase font-weight-bold"><img src="./assets/images/Home/HealthAssistLogo.png"
                        width="40" height="40" alt=""> &nbsp; Health Assist</h5>

                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; border-top:2px solid #fff;">
                <p>HealthAssist will help to search different categories of doctors on one click.It provides good rating
                    doctors, pathologies and pharmacy
                    details.</p>

            </div>

            <div class="col-md-2 mx-auto">




            </div>

            <div class="col-md-2 mx-auto">



            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-top: 15px;">


                <h6 class="text-uppercase font-weight-bold">Contact us</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; border-top:2px solid #fff;">
                <p style="font-size: medium;">
                    <mdb-icon fas icon="map-marker-alt"></mdb-icon>&nbsp;&nbsp;&nbsp; Ahmedabad, Gujarat, India
                </p>
                <p style="font-size: medium;">
                    <mdb-icon fas icon="envelope"></mdb-icon>&nbsp;&nbsp;&nbsp; healthassist21@gmail.com
                </p>


            </div>


        </div>


    </div>


    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="http://healthassist.live/"> HealthAssist.live</a>
    </div>


</footer>