<app-header></app-header>
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="context">
      <h1>Making Health</h1><br>
        <h1>Care Better Together</h1>
      <p>To keep the body in good health is a duty, otherwise 
      we <br> shall not be able to keep our mind strong and clear.
      Take <br> care of your body. It’s the only place you have to live.</p>
    <br>
    <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Make Appointment<i class="icofont-simple-right ml-3"></i>></button>
    </div>
</section>


<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
            </div>
            <img src="/assets/images/icon/meeting.JPG" alt=""><br><br>
						<span>24 Hours Service</span>
						<h4 class="mb-3">Online Appoinment</h4>
						<p class="mb-4">We are providing you Online Appointment Service in which he/she can communicate with doctor virtually.</p>
						<a href="appoinment.html" class="btn btn-main btn-round-full">Make appoinment</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
            </div>
            <img src="/assets/images/icon/clock.JPG" alt=""><br><br>
						<span>Timing schedule</span>
						<h4 class="mb-3">Working Hours</h4>
						<ul class="w-hours list-unstyled">
		                    <li class="d-flex justify-content-between">Mon - Sat : <span>8:00am - 10:00pm</span></li>
		                    <li class="d-flex justify-content-between">Sunday : <span>9:00am - 2:00pm</span></li>

		                </ul>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
            </div>
            <img src="/assets/images/icon/call.JPG" alt=""><br><br>
						<span>Emegency Cases</span>
						<h4 class="mb-3">108</h4>
						<p>Get ALl time support for emergency.We have introduced the principle of family medicine.Get Conneted with us for any urgency .</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>





<div class="container">
    <h1 style="color: #107eed; text-align: center; padding-top: 20px;">Our Story</h1>
    <hr style="width:10%; border-top:2px solid #107eed; border-bottom:none; text-align: center;">

    <div class="mission">
        <div class="left">
            <img src="/assets/images/Home/doctor_care_0.jpg">
        </div>
        <div class="right" style="text-align: justify;">
            <p>We as a part of Health Assist, Assist patients to access good health care options near them wherever they
                are. We are a group of 3 students who are trying to provide good and valuable assistance to all patients
                as we believe in “ आरोग्य अस्ति सर्व ” which means Health is Everything. We provide almost all types of
                assistance that any patient needs at just few clicks. We also help Doctors, Chemists and pathologies to
                reach more people and grow their business.</p>



        </div>
        <div class="clear"></div>

    </div>

    <h1 style="color: #107eed; text-align: center; padding-top: 20px;">Our Mission</h1>
    <hr style="width:10%; text-align: center; border-top:2px solid #107eed; border-bottom:none;">
    
    <div class="mission">
        <div class="left">
            <img src="/assets/images/Doctor/Doctor-Treating-Patient.jpg">
        </div>
        <div class="right" style="text-align: justify;">
            <p>Our Mission is to assist people from every edge of the world and provide the best quality Assistance to
                improve and take care of their health in the best possible ways we can. One of our mission in the future
                is we would like to provide transport service to patients for smooth and secure transit.</p>



        </div>
        <div class="clear"></div>

    </div>

</div>


<app-footer></app-footer>
