<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="context">
      <h1>Making Health</h1><br>
        <h1>Care Better Together</h1>
      <p>To keep the body in good health is a duty, otherwise<br> 
      we shall not be able to keep our mind strong and clear.<br>
      Take care of your body. It’s the only place you have to <br>live.</p>
    <br>
    <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Make Appointment<i class="icofont-simple-right ml-3"></i>></button>
    </div>
</section>






<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
            </div>
            <img src="/assets/images/icon/meeting.JPG" alt=""><br><br>
						<span>24 Hours Service</span>
						<h4 class="mb-3">Online Appoinment</h4>
						<p class="mb-4">Get ALl time support for emergency.We have introduced the principle of family medicine.</p>
						<a href="appoinment.html" class="btn btn-main btn-round-full">Make appoinment</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
            </div>
            <img src="/assets/images/icon/clock.JPG" alt=""><br><br>
						<span>Timing schedule</span>
						<h4 class="mb-3">Working Hours</h4>
						<ul class="w-hours list-unstyled">
		                    <li class="d-flex justify-content-between">Mon - Sat : <span>8:00am - 10:00pm</span></li>
		                    <li class="d-flex justify-content-between">Sunday : <span>9:00am - 2:00pm</span></li>

		                </ul>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
            </div>
            <img src="/assets/images/icon/call.JPG" alt=""><br><br>
						<span>Emegency Cases</span>
						<h4 class="mb-3">1-800-700-6200</h4>
						<p>Get ALl time support for emergency.We have introduced the principle of family medicine.Get Conneted with us for any urgency .</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="/assets/images/Home/doctor_care_0.jpg" alt="" class="img-fluid">
					<img src="/assets/images/Doctor/Doctor-Treating-Patient.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="/assets/images/Doctor/fortis-doctor-patient-noida.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Personal care <br>& healthy living</h2>
					<p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

					<a href="service.html" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i>></a>
				</div>
			</div>
		</div>
	</div>
</section>